<h1>Signal Iduna Design System</h1>

<section>
  <markdown ngPreserveWhitespaces [data]="foundationButtonMd"></markdown>
  <div class="preview">
    <div class="figma">
      <a target="_blank" href="https://www.figma.com/file/GYwTZES10fYQL7y9iaKkCy/Button?node-id=1%3A8">🎨 Open in Figma</a>
      <iframe scrolling="no" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FGYwTZES10fYQL7y9iaKkCy%2FButton%3Fnode-id%3D1%253A8" allowfullscreen></iframe>
    </div>
    <div class="storybook">
      <a target="_blank" href="http://localhost:4300/?path=/story/button--primary">👩‍💻 Open in Storybook</a>
      <iframe scrolling="no" src="http://localhost:4300/iframe.html?id=button--primary" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section>
  <markdown ngPreserveWhitespaces [data]="webButtonMd"></markdown>
  <div class="preview">
    <div class="figma">
      <a target="_blank" href="https://www.figma.com/file/GYwTZES10fYQL7y9iaKkCy/Button?node-id=1%3A8">🎨 Open in Figma</a>
      <iframe scrolling="no" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FGYwTZES10fYQL7y9iaKkCy%2FButton%3Fnode-id%3D1%253A8" allowfullscreen></iframe>
    </div>
    <div class="storybook">
      <a target="_blank" href="http://localhost:4300/?path=/story/web-components--button">👩‍💻 Open in Storybook</a>
      <iframe scrolling="no" src="http://localhost:4300/iframe.html?id=web-components--button" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section>
  <markdown ngPreserveWhitespaces [data]="ngButtonMd"></markdown>
  <div class="preview">
    <div class="figma">
      <a target="_blank" href="https://www.figma.com/file/GYwTZES10fYQL7y9iaKkCy/Button?node-id=1%3A8">🎨 Open in Figma</a>
      <iframe scrolling="no" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FGYwTZES10fYQL7y9iaKkCy%2FButton%3Fnode-id%3D1%253A8" allowfullscreen></iframe>
    </div>
    <div class="storybook">
      <a target="_blank" href="http://localhost:4300/?path=/story/angular-components--button">👩‍💻 Open in Storybook</a>
      <iframe scrolling="no" src="http://localhost:4300/iframe.html?id=angular-components--button" allowfullscreen></iframe>
    </div>
  </div>
</section>
